@import '~ionicons-inline/dist/ionicons';

.header {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #edefee
}
@media (max-width: 576px) {
  .page-nav{
    display: flex;
    flex-direction: row;
  }

  .nav-content {
    display: none;
  }
  #resume:before {
    content: '';
    margin: 4px;
    margin-right: 8px;
    @include ion-md-home(32px, #222);
  }
  #portfolio:before {
    content: '';
    margin: 4px;
    margin-right: 8px;
    @include ion-md-bulb(32px, #222);
  }
  #github:before {
    content: '';
    margin: 4px;
    margin-right: 8px;
    @include ion-logo-github(32px, #222);
  }
  .hero h1,
  .hero span,
  .hero input {
    font-size: 1.5em;
    font-weight: 600;
  }

  .hero input {
    padding: 1px;
  }
}

@media (min-width: 576px) {

  .hero h1,
  .hero span,
  .hero input {
    font-size: 1.8em;
    font-weight: 600;
  }
}

.hero p{
  font-size: 1em;
  letter-spacing: 4px;
  margin-bottom: 6px;
}

.hero {
  display:flex;
  flex-wrap: wrap;
}

.hero p,
.hero h1 {
  width: 100%
}

.hero .input-container {
  display:flex;
  position: relative;
  width:100%;
}

.input-container span {
  width: auto;
}

.input-border {
  flex-grow: 1;
}

.hero input {
  border:none;
  outline: none;
  resize: none;
  padding: 0px;
  width: 100%;
}

.hero input:focus{
  border: none;
  outline: none;
}

.page-divider {
  margin: 80px 0px;
  border: 1px black;
  padding: 1px 0px
}

.resume-section {
  margin-bottom: 80px;
}

.section-title {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.section-title:after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 1px;
  background: #222;
}

.resume-item {
  margin: 20px 0px;
}

.resume-left p {
  margin-bottom: 0;
}

.resume-right p {
  margin-bottom: 0.5em;
}

.resume-right p:before{
    content: '';
    margin: 4px;
    margin-right: 8px;
    @include ion-md-square(8px, #222);
}

.title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0;
}

.subtitle{
  font-style: italic;
  margin-bottom: 0;
}
